<header class="w-full bg-gray-300 p-2 flex items-center justify-between">
  <img (click)="logoClick.emit()"
       src="./logo/logo.png"
       alt="Site logo"
       class="w-20 h-20 ml-5 cursor-pointer">

  <div class="self-center flex flex-col items-center max-w-md w-full relative">
    <div class="p-2 flex items-center gap-x-3 bg-white rounded-full shadow-md w-full">
      <button class="w-6 h-6 cursor-pointer" (click)="emitRecipe(recipeInput.value, recipeInput)">
        <img src="./icons/search.png"
             alt="Search icon"
             class="w-5 h-5">
      </button>

      <input
        class="w-full bg-transparent outline-none text-lg"
        type="text"
        placeholder="Search recipe"
        (input)="onInput($event)"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (keydown)="onKeyDown($event, recipeInput)"
        #recipeInput
      >
    </div>

    @if (showSuggestions) {
      <ul class="absolute top-full mt-2 bg-white rounded-lg shadow-md z-5 w-full overflow-y-auto max-h-60">
        @for (recipe of filteredRecipes; let i = $index; track recipe) {
          <li #suggestionItem
              (click)="emitRecipe(recipe, recipeInput)"
              class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
              [ngClass]="{'bg-gray-100': i === selectedIndex}">
            {{ recipe }}
          </li>
        }
      </ul>
    }
  </div>

  <img src="./icons/colored-heart.png"
       alt="Colored heart icon"
       class="w-8 h-8 mr-5 ml-5 lg:ml-0">
</header>
