<app-loader></app-loader>
<app-snack-bar></app-snack-bar>

<div class="h-screen flex flex-col">
  <app-header (inputRecipe)="searchRecipe($event)" (logoClick)="recipes = null; recipeDetail = null"></app-header>

  <main class="flex-1 flex flex-col lg:flex-row items-center justify-center overflow-hidden bg-gray-100">

    @if (recipes) {
      <!--  Recipes List -->
      <aside class="w-full lg:w-1/4 h-2/3 lg:h-full overflow-y-auto">
        <ul class="px-4">
          @for (recipe of recipes.recipes; track recipe.recipe_id) {
            <li class="flex items-center gap-x-3 p-2 my-4 border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-200 transition"
                [ngClass]="{'bg-gray-200': recipe.recipe_id === recipeDetail?.recipe?.recipe_id}"
                (click)="getRecipeDetail(recipe.recipe_id)">
              <img [src]="recipe.image_url"
                   alt="Recipe image"
                   class="w-12 h-12 rounded-full border border-gray-300 object-cover shrink-0">

              <div class="flex flex-col gap-2 min-w-0">
                <h2 class="text-lg text-orange-400 truncate">{{ recipe.title }}</h2>
                <p class="text-sm truncate">{{ recipe.publisher }}</p>
              </div>
            </li>
          }
        </ul>
      </aside>

      <!--  Recipe Detail  -->
      <section class="w-full lg:w-2/4 h-auto lg:h-full overflow-y-auto p-4 flex flex-col gap-y-4">
        <img [src]="recipeDetail?.recipe?.image_url"
             alt="Recipe image"
             class="w-full h-1/3 object-cover rounded-lg">

        <h1 class="text-3xl text-orange-400 font-bold text-center">{{ recipeDetail?.recipe?.title }}</h1>
        <h2 class="text-lg text-center">{{ recipeDetail?.recipe?.publisher }}</h2>

        <div class="flex items-center justify-around font-base">
          <p>
            To access the recipe
            <a [href]="recipeDetail?.recipe?.publisher_url"
               target="_blank"
               class="font-bold-400 text-orange-400 underline">
              click here
            </a>
          </p>

          <div class="flex items-center gap-x-2">
            <img src="./icons/star.png" alt="Star icon" class="w-6 h-6">
            <p>Social rank: <span class="font-bold">{{ recipeDetail?.recipe?.social_rank | number: '1.0-2' }}</span></p>
          </div>
        </div>

        <div class="flex-1 grid grid-cols-2 gap-x-6 gap-y-4 p-4">
          @for (ingredient of recipeDetail?.recipe?.ingredients; track ingredient) {
            <div class="flex items-center gap-2">
              <img src="./icons/check-mark.png" alt="Check icon" class="w-6 h-6">
              <p class="text-base text-justify">{{ ingredient}}</p>
            </div>
          }
        </div>

        <button class="flex gap-x-2 p-3 self-center bg-orange-400 text-white rounded-full shadow-md cursor-pointer hover:bg-orange-500 transition"
                (click)="addToShoppingList(recipeDetail?.recipe?.title, recipeDetail?.recipe?.source_url)">
          <img src="./icons/shopping-cart.png" alt="Shopping cart icon" class="w-6 h-6">
          <p>Add to Shopping List</p>
        </button>
      </section>
    }

    <!--  Shopping List  -->
    <section class="w-full lg:w-1/4 lg:h-full overflow-y-auto p-4"
             [ngClass]="{'h-auto': !recipes,
                         'h-2/3': recipes}">
      <h1 class="text-2xl text-orange-400 font-bold text-center">My Shopping List</h1>

      <ul class="px-4">
        @for (recipe of shoppingList; let i = $index; track recipe) {
          <li class="flex items-center justify-between gap-y-3 p-2 my-4 border border-gray-300 rounded-lg">
            <div class="self-start flex flex-col gap-2 max-w-[85%]">
              <h2 class="text-base lg:text-lg text-orange-400 truncate">{{ recipe.title }}</h2>
              <p>
                {{ recipe.recipe }} -
                <a class="text-sm truncate cursor-pointer underline"
                   target="_blank"
                   [href]="recipe.url">Click here</a>
              </p>
            </div>

            <button class="p-2 text-white rounded-full cursor-pointer hover:bg-gray-200 transition"
                    (click)="removeFromShoppingList(i)">
              <img src="./icons/trash-can.png" alt="Trash icon" class="w-5 h-5 lg:w-6 lg:h-6">
            </button>
          </li>
        }
      </ul>
    </section>
  </main>

  <app-footer></app-footer>
</div>
